
/* light-gray body with no padding/margins (for centering purposes) and a nicer font */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ececec;
}

/* Centered main div with fixed width */
#main {
    max-width: 900px;
    margin: auto;
}

/* medium-grey, bordered login area */
#login {
    background: #ccc;
    border: 1px solid #474747;
    margin: 10px 0;
    padding: 10px;
}

/* Floating the content to align on screen in columns */
.column {
    width: 48%;
    float: left;
    padding-right: 2%;
}

    .column:last-of-type {
        padding: 0 0 0 2%;
    }

/* The ongoing games list */
li a span {
    font-size: 80%;
}

    li a {
        text-decoration: none;
        padding: 10px 2px;
        color: #000;
    }

    li a :hover {
        text-decoration: underline;
    }


/* Players Hand */
#hand .card:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

/* Make sure the table and hand divs don't collapse when there's no cards on/in them */
#table, #hand {
    min-height: 250px;
}